<h1> Posts List</h1>

<ul>
	<% @posts.each do |post| %>
		<li>
			<p> <%= link_to post.title,post_path(post) %> created by <%= post.user.try [:login] %> </p>
			<p> It has <%= pluralize( post.comments.count, "comment") %>  </p>

		</li>

		<% end %>
</ul>

<%= link_to "New Post", new_post_path %>